body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

.main-container {
    border: 1px solid white;
    border-radius: 10px;
    margin: 100px auto;
    width: 350px;
    height: 600px;
    background-color: white;
}

.heading {
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 30px;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.block {
    /* border: 1px solid black; */
    padding: 10px 30px;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 275px;
    padding-bottom: 10px;
    padding-left: 15px;

}

.enter {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.forgot {
    margin-top: 4px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.btn {
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    width: 290px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 800;
    color: white;
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

.sign-up {
    /* border: 1px solid black; */
    margin-top: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 800;
}

img {
    width: 150px;
    height: 90px;
    padding-left: 100px;
}

.bottom-block {
    /* border: 1px solid black; */
    margin-top: 70px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 800;
}

.last {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 800;
}